@font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/SuisseIntl-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/SuisseIntl-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Arial";
    src: url("../fonts/Arial.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}


:root {
    --color-black: #1D1D1E;
    --color-grey: #D9D9D9;
    --color-home: #F19269;
    --color-home-opacity: #FFE1CC;

    --color-about: #C58EE7;
    --color-about-opacity: #EDDBF8;
    --color-coach: rgba(246, 242, 163, 0.85);
    --color-coach-opacity: #F5F3CC;
    --color-methods:  #A1DBA0;
    --color-methods-opacity: #D7F1D6;
    --color-contact: #ABE4E4;
    --color-contact-opacity: #E3F3F3;

    --color-footer-green: #C2EDC2;
    --color-footer-blue: #ABE4E4;
    --color-footer-violet: #E0C6EF;



    --SI: 'Suisse Intl', sans-serif;
    --Arial: 'Arial', sans-serif;
}

*, *:before,
*:after {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*, body, html {
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

mark {
    -webkit-text-fill-color: initial;
    text-fill-color: transparent;
    background: none;
}
.img{
    display: block;
}
.img.contain img {
    -o-object-fit: contain;
    object-fit: contain;
}

.img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

button {
    background: transparent;
}

h1 {
    margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}
input:-internal-autofill-selected {
    background-color: transparent;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


html {
    font-size: 10px;
    scroll-behavior: smooth;
}



@media only screen and (max-width: 1366px) {
    html {
        font-size: 9.48px;
    }
}
@media only screen and (max-width: 1280px) {
    html {
        font-size: 8.89px;
    }
}
@media only screen and (max-width: 1170px) {
    html {
        font-size: 8.125px;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 7.11px;
    }
}

@media only screen and (max-width: 890px) {
    html {
        font-size: 6.18px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 5.33px;
    }
}

@media only screen and (max-width: 666px) {
    html {
        font-size: 10px;
    }
}