
<footer>
    <div class="footer">
        <div class="container">
            <div class="footer__flex">
                <ul class="footer__list">
                    <li><a href="">Home</a></li>
                    <li><a href="">About me</a></li>
                    <li><a href="">Coaching areas</a></li>
                    <li><a href="">My methods</a></li>
                    <li><a href="">My ideas</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <ul class="footer__list">
                    <li><a href="">Imprint</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

