<header class="header">
       <div class="container">
           <div class="header__block">
               <a class="header__logo" href="./../index.html">Masha Gurina</a>
               <div class="header__menu">
                   <div class="container">
                        <div class="header__list">
                            <a href="" style="color: #F19269">Home</a>
                            <a href="" style="color: #C58EE7" >About me</a>
                            <a href="" style="color: rgba(246, 242, 163, 0.85)" >Coaching areas</a>
                            <a href="" style="color: #A1DBA0" >My methods</a>
                            <a href="" style="color: #D9D9D9">My ideas</a>
                            <a href="" style="color: #ABE4E4">Contact</a>
                        </div>
                       <div class="header__list-bottom">
                           <a href="">Imprint</a>
                           <a href="">Privacy Policy</a>
                           <a href="">LinkedIn</a>
                       </div>
                   </div>
               </div>

               <button class="header__burger">
                   <span></span>
                   <span></span>
                   <span></span>
               </button>

            </div>
        </div>

</header>


